*  {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	}
	
	
body {

		font-family: ''open Sans;

		}	
	

#header {
	
	background-color: #2F4F4F;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	
}


.header_image{
	
	height: 190px;
	width: 190px;
	border-radius: 50%;
	margin-left: 65px;
	margin-top: 30px;
	
}

.name{
	
	margin-top: -200px;
	margin-left: 400px;
	font-size: 3.1em;
	color: white;
	
}
.job_title{
	
	margin-left: 400px;
	font-size: 1.7em;
	color: white;
	
}



	div#container {
				
				width:100%;
				height:1000px;
				margin: auoto;
				}
				
	.side-bar {
			
			float: left;
			width: 320px;
			height: 100%;
			background-color: #DCDCDC;
			
			}
	.fi {
		
			margin-top: 130px;	
			margin-left: 100px;	
			font-size: 2.1em;
	}	
	.second-text {
		
			text-align: center;
	}

	.line {
			
			margin-left: 25px;
			margin-top: 7px;
			background-color:  #2F4F4F;
			width: 80px;
			height: 4px;
	}
	.line_html_css {
			
			margin-left: 25px;
			margin-top: 7px;
			background-color:  #2F4F4F;
			width: 90px;
			height: 4px;
	}
	.line1_html_css {
		
			margin-top: -4px;
			margin-left: 110px;
			background-color:  white;
			width: 10px;
			height: 4px;
	}
	.line_php {
			
			
			margin-left: 150px;
			margin-top: -2px;
			background-color:  #2F4F4F;
			width: 80px;
			height: 4px;
	}
	.line1_php {
		
			margin-top: -4px;
			margin-left: 210px;
			background-color:  white;
			width: 20px;
			height: 4px;
	}
	.line_c {
			
			
			margin-left: 150px;
			margin-top: -2px;
			background-color:  #2F4F4F;
			width: 80px;
			height: 4px;
	}
	.line1_c {
		
			margin-top: -4px;
			margin-left: 210px;
			background-color:  white;
			width: 20px;
			height: 4px;
	}.line1 {
		
			margin-top: -4px;
			margin-left: 100px;
			background-color:  white;
			width: 20px;
			height: 4px;
	}
		
	.line_ms_office {
			
			margin-left: 150px;
			margin-top: -3px;
			background-color:  #2F4F4F;
			width: 80px;
			height: 4px;
	}
	.content {
			
			width: auto;
			height: 100%;
			background-color: white;
			margin-left: 320px;
			padding: 15px;
			}
			
		/* About  */	
			
	.about_icon {
		
		float:left;
			height: 30px;
		width: 30px;
	margin-left: 11px;
	margin-top: 0px;
		
	}.about_title {
		
			margin-left: 67px;
			margin-right: 67px;
			margin-bottom: 10px;
			font-size: 1.6em;
			
		
	}	.about {
		
			margin-left: 67px;
			margin-right: 50px;
		
	}
	
		/* work experience  */
	
		.work_icon {
		float:left;
			height: 60px;
		width: 60px;
	margin-left: 5px;
	margin-top: 5px;

		}
		.work_title {
			
			margin-left: 64px;
			margin-top: 30px;
			margin-bottom: 2px;
			font-size: 1.6em;
			
		
	}	
		.work_title1 {
			
			margin-left: 67px;
			padding-top: 10px;
			font-size: 1.2em;
		
	}	
		.work_title2 {
			margin-bottom: 2px;
			margin-left: 67px;
			font-size: 1.2em;
			float: left;
		
	}	
	
	
		.work_duration {
		
			
			font-size: 1.2em;
			float: right;
			margin-right: 5px;
		
	}
		.work_duties {
			
			margin-left: 67px;
			margin-right: 50px;
			float: left;
			margin-bottom: 10px;
		
	}
	
	
	
		
			

		/* education   */
	
		.education_icon {
		
			height: 25px;
		width: 25px;
	margin-left: 10px;
	margin-top: 5px;

		}	
		.education_icon1 {
		
			height: 25px;
		width: 25px;
	margin-left: 10px;
	margin-top: 5px;

		}
		.education_title {
			
			margin-left: 67px;
			margin-bottom: 2px;
			font-size: 1.6em;
			
		
	}	
		.education_title1 {
			
			margin-left: 67px;
			padding-top: 10px;
			font-size: 1.2em;
		
	}	
		.education_title2 {
			margin-bottom: 2px;
			margin-left: 67px;
			font-size: 1.2em;
			float: left;
		
	}	
	
	
		.education_duration {
		
			
			font-size: 1.2em;
			float: right;
			margin-right: 5px;
			
		
	}
		
	
			.education_duties {
		
			height: 25px;
		width: 100px;
	margin-left: 67px;
	margin-top: 10px;
	margin-bottom: 22px;

		}	
	
	
	
		
			

		
	
